@import "tailwindcss";

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: transparent !important;
}

.title-container {
  display: flex;
  justify-content: center;
  padding-top: 10vw;
  font-size: xx-large;
  margin-bottom: 3vw;
}

.cursor {
  animation: cursor-blink 1s steps(2, start) infinite;
}

@keyframes cursor-blink {
  to {
    visibility: hidden;
  }
}

@keyframes slideLeft {
  from {
    transform: translateY(50%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 26ch;
  }
}
